html {
  height: 100%;
}

body {
  background-color: #282c34;
  height: 100%;
  color: white;
}

#root {
  height: 100%;
}

.app {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body,
input {
  font-size: calc(14px + 2vmin);
}

button {
  font-size: calc(14px + 2vmin);
  min-width: calc(24px + 2vmin);
  user-select: none;
}

.settings {
  gap: 2em;
}

.timer {
  font-size: calc(24px + 2vmin);
  display: flex;
  justify-content: space-evenly;
}
.timer p {
  margin: 0;
}

.timer--working {
  background: #870000;
}

.timer__left {
  font-size: 40vw;
}

.pause {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.prepare {
  background: #560056;
}
